.primary {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex:1;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2.75rem;
    font-weight: 500;
}
.secundary {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: var(--gray);
    color: var(--white);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2.75rem;
    font-weight: 500;
}

.primary:hover, .secundary:hover {
    opacity: 0.7;
}

@media (max-width: 450px) {
    .secundary, .primary {
        font-size: 1.5rem;
    }
}