.container {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    & > :first-child {
        width: 40%;
        background-color: var(--background);
        padding: 35px;
        display: flex;
        flex-direction: column;
        gap: 43px;
        border: 1px solid var(--text);
        border-radius: 20px;
        position: relative;
        z-index: 1;
        & > h3 {
            color: var(--text);
            font-weight: 600;
            font-size: 4rem;
            text-align: center;
        }
        & > input {
            width: 100%;
            height: 133px;
            background-color: var(--white);
            color: var(--black);
            border-radius: 10px;
            font-size: 4rem;
            padding: 0 20px;
            outline: 1px solid var(--light-blue);
        }
        & > div {
            display: flex;
            gap: 45px;
        }
    }
    & > :last-child {
        width: 100%;
        height: 100%;
        background-color: var(--gray);
        opacity: 0.5;
        position: absolute;
    }
}

.hide {
    display: none;
}