.main {
  width: 100%;
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  margin-top: 85px;
  & > .container {
    width:90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    & > div {
      & > h1 , & > p{
       text-align: center;
       color: var(--text);
       font-weight: 600;
     }
     & > h1{
       font-size: 4.3rem;
     }
     & > p {
       font-size: 3rem;
     }
    }
  }
}

