.main {
  width: 100%;
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  margin-top: 85px;
  & > .container {
    width:90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    & > :first-child {
      & > h1 , & > p{
       text-align: center;
       color: var(--text);
       font-weight: 600;
     }
     & > h1{
       font-size: 4.3rem;
     }
     & > p {
       font-size: 3rem;
     }
    }
    & > :nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    & > :nth-child(3) {
      display: flex;
      height: 100px;
    }
  }
}

@media (max-width:566px) {
  .main {
    & > .container {
      & > :first-child {
        & > h1{
          font-size: 2rem;
        }
        & > p {
          font-size: 1.5rem;
        }
      }
      & > :nth-child(3) {
       & > button {
         font-size: 2.75rem;
       }
    }
    }
  }
}