.container {
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
        width: 90%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > img {
        width: 210px;
        height: 40px;
    }
        & > span {
            color: var(--text);
        }
    }
}

