.container {
    height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    & > button {
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--text);
        border: none;
        cursor: pointer;
    }
    & > div {
        width: 80px;
        height: 40px;
        background-color: var(--other-background);
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        & > div {
            width: 22px;
            height: 22px;
            background-color: var(--background);
            position: absolute;
            border-radius: 50%;
            top: 9px;
            transition: left 0.7s;
        }
        & > .left {
            left: 10px;
        }
        & > .right {
            left: 50px;
        }
        & > button {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            position: absolute;
            cursor: pointer;
        }
        & > .leftBtn {
            left: 0;
        }
        & > .rightBtn {
            left: 40px;
        }
    }
    & > .grayText {
        color: var(--gray);
    }
}

@media (max-width:475px) {
    .container{
        & > button {
            display: none;
        }
    }
}