:root {
  --gray: #3A8078;
  --light-blue: #009CFA;
  --red: #E25454;
  --white: #F3F3F3;
  --black: #000000;
}

html {
  --text:#000000;
  --background: #F5F5F5;
  --other-text: #F3F3F3;
  --other-background: #25384C;
}

.dark {
  --text: #F3F3F3;
  --background: #25384C;
  --other-text:#000000;
  --other-background: #F5F5F5;
  color-scheme: dark;
}

body {
  padding: 72px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

iframe {
  pointer-events: none;
}